<h1>Registrar Jugador</h1>

<form method="post">

    Nombre: <input type="text" name="nombre" required><br>

    Edad: <input type="number" name="edad" required><br>

    Posición:
    <select name="posicion">
        {% for p in posiciones %}
            <option value="{{ p.name }}">{{ p.value }}</option>
        {% endfor %}
    </select><br>

    Estado:
    <select name="estado">
        {% for e in estados %}
            <option value="{{ e.name }}">{{ e.value }}</option>
        {% endfor %}
    </select><br>

    <h3>Estadísticas</h3>

    Goles: <input type="number" name="goles"><br>
    Asistencias: <input type="number" name="asistencias"><br>
    Amarillas: <input type="number" name="amarillas"><br>
    Rojas: <input type="number" name="rojas"><br>

    <button type="submit">Guardar jugador</button>

</form>

<a href="/">Volver</a>
