{% extends "base.html" %}
{% block title %}Registrar Partido{% endblock %}

{% block content %}
<h1>Registrar Partido</h1>

<form action="/crear-partido" method="post">
    <label>Local:</label>
    <input type="text" name="local" required>

    <label>Visitante:</label>
    <input type="text" name="visitante" required>

    <label>Goles Local:</label>
    <input type="number" name="goles_local" required>

    <label>Goles Visitante:</label>
    <input type="number" name="goles_visitante" required>

    <label>Fecha:</label>
    <input type="date" name="fecha" required>

    <button type="submit">Guardar</button>
</form>

{% endblock %}
