{% extends "base.html" %}
{% block title %}Registrar Jugador{% endblock %}

{% block content %}
<h1>Registrar Jugador</h1>

<form action="/crear-jugador" method="post">

    <label>Nombre completo:</label>
    <input type="text" name="nombre" required>

    <label>Nacionalidad:</label>
    <input type="text" name="nacionalidad" required>

    <label>Edad:</label>
    <input type="number" name="edad" required>

    <label> Número de camisa: </label>
    <input type="number"  name="num" min="1" max="99" required>


    <label>Posición:</label>
    <select name="posicion" required>
        {% for p in posiciones %}
            <option value="{{ p.value }}">{{ p.value }}</option>
        {% endfor %}
    </select>


    <h1>Datos deportivos</h1>

    <label>Altura (Cm) :</label>
    <input type="float" name="altura" value="1.50" required>

     <label>peso (Kg):</label>
    <input type="Float" name="peso" value="50" required>

    <label>Año de ingreso  :</label>
    <input type="number" name="ingreso"  required>

    <label>Pie dominante:</label>
    <input type="text" name="pie" required>

    <label>Valor de Mercado (Pesos) :</label>
    <input type="number" name="valormer" value="10000" required>


    <label>Estado:</label>
    <select name="estado" required>
        {% for e in estados %}
            <option value="{{ e.value }}">{{ e.value }}</option>
        {% endfor %}
    </select>

    <label>Goles:</label>
    <input type="number" name="goles" value="0">

    <label>Asistencias:</label>
    <input type="number" name="asistencias" value="0">

    <button type="submit">Guardar</button>

</form>
{% endblock %}
